.paragraph {
  padding-bottom: 1rem;
  color: lightgray;

  &.text-align-start {
    text-align: start;
  }
  &.text-align-center {
    text-align: center;
  }
  &.text-align-end {
    text-align: end;
  }
}
