@import "tailwindcss";

:root {
  --background-color: whitesmoke;
  --text-color: #131314;
  --font-primary: "Inter", sans-serif;
}

html.dark {
  --background-color: #131314;
  --text-color: whitesmoke;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.article-image {
  position: relative;
  margin-bottom: -15%;
}

.article-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Semi-transparent black gradient fading out toward the top */
  background: linear-gradient(to top, #131314ff 30%, #13131400 100%);

  /* Ensures the overlay stays exactly above the image */
  /* z-index: 1; */

  /* Optional: Prevents the overlay from blocking text selection or clicks */
  pointer-events: none;
}
.article-image img {
  display: block;
  width: 100%;
  height: auto;
}

.article-content {
  position: relative;
  padding-inline: 1rem;
}
